
main {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  
  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .title-container h2 {
    font-weight: 550;
  }
  
  .title-container span {
    text-decoration: underline rgba(255, 255, 255, 0.671);
  }
  
  .title-container a {
    margin-top: 40px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid white;
    width: fit-content;
    padding: 30px;
    font-weight: 650;
  }
  
  .title-container a:hover {
    background-image: url(https://svs.gsfc.nasa.gov/vis/a000000/a004700/a004720/ldem_3_8bit.jpg);
    background-size:cover;
    color: rgb(0, 0, 0);
    transition: 0.2s;
    box-shadow: 1px -1px 42px 16px rgba(255, 255, 255, 0.192);
    -webkit-box-shadow: 1px -1px 42px 16px rgba(255, 255, 255, 0.192);
    -moz-box-shadow: 1px -1px 42px 16px rgba(255, 255, 255, 0.192);
  }