* {
  color: unset;
  text-decoration: none;
  margin: 0;
}
body {
  background-color: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 100px;
}

header {
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100vw;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 5em;
}

nav a {
  margin: 0 10px;
}

.nav-bar a:hover {
  color: rgb(255, 225, 58);
  text-decoration: underline;
}

#containerimage {
  display: flex;
  align-items: center;
}

#abc{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title-container h2 {
  font-weight: 550;
}

.title-container span {
  text-decoration: underline rgba(255, 255, 255, 0.671);
}

.title-container a {
  margin-top: 40px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid white;
  width: fit-content;
  padding: 30px;
  font-weight: 650;
}

.title-container a:hover {
  background-image: url(https://svs.gsfc.nasa.gov/vis/a000000/a004700/a004720/ldem_3_8bit.jpg);
  background-size:cover;
  color: rgb(0, 0, 0);
  transition: 0.2s;
  box-shadow: 1px -1px 42px 16px rgba(255, 255, 255, 0.192);
  -webkit-box-shadow: 1px -1px 42px 16px rgba(255, 255, 255, 0.192);
  -moz-box-shadow: 1px -1px 42px 16px rgba(255, 255, 255, 0.192);
}

footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}

footer img {
  width: 50px;
  padding: 3px;
  border: 1px solid white;
  border-radius: 5px;
}

.social-media {
  font-size: x-large;
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 25px;
}

footer p {
  margin-top: 8px;
}

footer i{
  margin: 0 5px;
}


/*Products*/

#abcde{
  display: flex;
  justify-content: center;
  align-items: center;
}

.stores-container h1{
  color: rgb(250, 250, 75);
  margin: 40px 0 30px 0;
}

.maps-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px;
}

iframe{
  width: 100%;
}


/*About us page*/

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 80%;
}

.container h1, .container h2{
  color: rgb(250, 250, 75);
}

i{
  margin-right: 10px;
}

.text{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 22px;
  margin: 10px 0 20px 0;
}

.text a{
  margin-left: 3px;
}

.text a:hover{
  color: rgb(250, 250, 75);
  text-decoration: underline;
}

@media only screen and (max-width: 787px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #containerimage {
    display: flex;
    flex-direction: column;
  }

  nav,ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  nav a {
    margin: 0 3px;
  }

  .title-container a {
    background-image: url(https://svs.gsfc.nasa.gov/vis/a000000/a004700/a004720/ldem_3_8bit.jpg);
    background-size: cover;
    color: black;
    box-shadow: 1px -1px 42px 16px rgba(255, 255, 255, 0.192);
    -webkit-box-shadow: 1px -1px 42px 16px rgba(255, 255, 255, 0.192);
    -moz-box-shadow: 1px -1px 42px 16px rgba(255, 255, 255, 0.192);
  }

  .container{
    width: 82%;
    
  }
  main p{
    text-align: center;
  }

  .maps-container{
    display:flex;
    flex-direction: column;
    gap: 10px;
  }


}

@media only screen and (max-width: 300px) {
  header h1 {
    display: none;
  }

  #containerimage {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav a {
    margin: 0 3px;
  }
}
